@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* var colors */
:root {
  --primary-color: #010443;
  --secondary-color: #024dce;
  --tertiary-color: #fff;
  --quaternary-color: #dddddd;

  --header-font: 'Kanit', sans-serif;
  --body-font: 'Plus Jakarta Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: #010443; */
}

/* SCROLLBAR */
::webkit-scrollbar {
  width: 15px;
}

::webkit-scrollbar-track {
  background: #010443;
}

::webkit-scrollbar-thumb {
  border-radius: 1.625rem;
  background: white;
  border: 4px solid #010443;
  width: 15px;
}

/* HEADER */

.fa-bars {
  font-size: 3em;
  cursor: pointer;
}

.bottom-navbar {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding: 1rem 0;
  border-bottom: 1px solid #010443;
  background: #010443;
}

.bottom-navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  gap: 3rem;
}

.bottom-navbar ul li {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  font-family: var(--body-font);
}

.bottom-navbar ul li a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  transition: 0.2s ease-in-out;
}

.bottom-navbar ul li a.current {
  border-radius: 1.625rem;
  background: var(--secondary-color);
  padding: 0.5rem 1rem;
}

.bottom-navbar ul li a:hover {
  color: #d4d4d4;
  text-decoration: underline;
}

.bottom-navbar ul li a.current:hover {
  color: var(--secondary-color);
  text-decoration: none;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .bottom-navbar {
    height: 4rem;
  }

  .bottom-navbar ul {
    gap: 1rem;
  }

  .bottom-navbar ul li a {
    font-size: 1.2em;
  }

}

@media screen and (max-width: 480px) {

  .bottom-navbar {
    height: 7rem;
  }

  .bottom-navbar ul {
    flex-direction: column;
    gap: 5px;
  }

  .bottom-navbar ul li {
    width: 60%;
  }
}


/* HOME */
#home {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  width: 100%;
}

#home .home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

#home .home-container .home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  gap: 1rem;
}

#home .home-container .home-content h1 {
  font-size: 3em;
  font-family: var(--header-font);
  font-weight: 400;
  margin: 0;
}

#home .home-container .home-content h2 {
  font-size: 1.5em;
  font-family: var(--header-font);
  font-weight: 100;
}

#home .home-container .home-content a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background: #010443;
  padding: 0.5rem 1rem;
  border-radius: 1.625rem;
  font-size: 1.5em;
  font-family: var(--header-font);
  transition: 0.3s;
}

#home #home-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: #000;
  background: var(--tertiary-color);
  border-top: 2px solid #000;
}

#home #home-info>h3 {
  font-size: 2em;
  font-family: var(--header-font);
  font-weight: 400;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin: 3rem 0 0 0;
}

#home #home-info .info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 85%;
  gap: 2rem;
  font-family: var(--body-font);
  margin: 3rem 0;
}

#home #home-info .info-container .info-left {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  gap: 2rem;
}

#home #home-info .info-container .info-left div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 0 0 1.625rem;
  padding: 0 2rem;
  position: relative;
  -webkit-box-shadow: -26px 26px 26px -8px rgba(0, 0, 0, 0.2);
  box-shadow: -26px 26px 26px -8px rgba(0, 0, 0, 0.2);
}

#home #home-info .info-container .info-left div .info-title {
  font-size: 1.5em;
  font-family: var(--header-font);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  padding: 0.5rem 1rem;
  width: 25%;
  border-radius: 1.625rem;
  transform: translateY(-50%);
  z-index: 100;
  word-wrap: break-word;
  margin: 0;
}

#home #home-info .info-container .info-left div .info-title::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 0;
  width: 35vw;
  border: 2px solid var(--secondary-color);
  border-radius: 1.625rem;
  transform: translateY(-50%);
}

#home #home-info .info-container .info-left div p:not(.formation) {
  font-size: 1.2em;
  font-family: var(--body-font);
  font-weight: 100;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
}

#home #home-info .info-container .info-left div .formation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home #home-info .info-container .info-left div .formation span:nth-child(2) {
  font-size: 0.85em;
  font-family: var(--body-font);
  font-weight: 100;
  color: var(--secondary-color);
  margin: 0;
}

#home #home-info .info-container .info-right {
  width: 100%;
  /* background-image: url(../img/photo.jpg); */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.625rem;
}

hr {
  width: 90%;
  border: 1px solid #010443;
  margin: 2rem 0;
}

@media screen and (max-width: 768px) {
  #home #home-info .info-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
  }

  #home #home-info .info-container .info-left {
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
  }

  #home #home-info .info-container .info-left div {
    width: 100%;
    padding: 1rem;
  }

  #home #home-info .info-container .info-left div .info-title {
    width: 90%;
    transform: translateY(0);
    margin: 0;
    border-radius: 1.625rem 1.625rem;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 80%;
  height: 100vh;
  border: none;
  margin: 1rem 0 2rem 0;
}

#skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: #000;
  background: var(--tertiary-color);
  border-top: 2px solid #000;
}

#skills .skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

#skills h1 {
  font-size: 3em;
  font-family: var(--header-font);
  font-weight: 400;
  margin: 0;
  width: 100%;
  text-align: center;
  color: white;
  padding: 0.5rem 0;
  text-transform: uppercase;
  background-color: var(--primary-color);
}

#skills .skills-container .skills-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0;
  height: 100vh;
}

#skills .skills-container .skills-content .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  padding: 0;
  gap: 6rem;
  margin: 2rem 0;
}

#skills .skills-container .skills-content .row .col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
  background-color: var(--tertiary-color);
  border-radius: 1.625rem;
  padding: 1rem;
}

#skills .skills-container .skills-content .row .col.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 100%;
  padding: 1rem;
  gap: 4rem;
  background-color: transparent;
}

#skills .skills-container .skills-content .row .col.split .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  background-color: var(--tertiary-color);
  border-radius: 1.625rem;
  padding: 1rem;
}

#skills .skills-container .skills-content .row .col h3 {
  font-size: 1.8em;
  font-family: var(--header-font);
  font-weight: 500;
  margin: 0;
  width: 100%;
  text-align: center;
  color: var(--primary-color);
  padding: 0.5rem 0;
  text-transform: uppercase;
}

#skills .skills-container .skills-content .row .col .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  gap: 2rem;
}

#skills .skills-container .skills-content .row .col .content p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 10vw;
  font-size: 1.1em;
  font-family: var(--body-font);
  font-weight: 200;
  gap: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.transition {
  transform: translateY(10px) !important;
}

#projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: #fff;
  background: var(--secondary-color);
}

#projects>h1 {
  font-size: 5em;
  font-family: var(--header-font);
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

#projects .project-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 2rem 0;
}

#projects .project-content .head {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 80%;
  padding: 20px;
  margin: 2rem 0;
  background-color: var(--tertiary-color);
  border-radius: 2.4rem;
  gap: 2rem;
}

#projects .project-content .head button {
  padding: 10px 20px;
  background-color: var(--tertiary-color);
  border-radius: 1.2rem;
  border: none;
  color: var(--primary-color);
  font-size: 1.2em;
  font-family: var(--body-font);
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#projects .project-content .head button.selected {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

#projects .project-content .head button:hover {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

#projects .project-content .categories-info {
  display: flex;
  justify-content: center;
  text-justify: auto;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  font-family: var(--body-font);
}

#projects .project-content .categories-info p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 10vw;
  font-size: 1.1em;
  font-family: var(--body-font);
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  color: var(--tertiary-color);
}

#projects .project-content .categories-info p span {
  font-size: 1.5em;
  font-family: var(--header-font);
  font-weight: 400;
  color: var(--tertiary-color);
  text-decoration: underline;
}

#projects .project-content .projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  width: 80%;
  gap: 2rem;
  margin: 2rem 0;
}

#projects .project-content .projects .project {
  display: grid;
  width: 80%;
  padding: 0;
  gap: 0.5rem;
  background-color: var(--tertiary-color);
  border-radius: 2.4rem;
  padding: 1.5rem;
  transition: 0.2s ease-in-out;
  color: var(--primary-color);
}

#projects .project-content .projects .project .project-info {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
}

#projects .project-content .projects .project img {
  width: 100%;
  border-radius: 1.625rem;
}

#projects .project-content .projects .project h3 {
  font-size: 1.8em;
  font-family: var(--header-font);
  font-weight: 500;
  margin: 0;
  width: 100%;
  color: var(--primary-color);
  padding: 0.5rem 0 0 0;
  text-transform: uppercase;
}

#projects .project-content .projects .project p {
  font-size: 0.9em;
  font-family: var(--body-font);
  font-weight: 200;
  width: 100%;
  margin: 0 0 2rem 0;
  color: var(--primary-color);
}

#projects .project-content .projects .project button {
  text-align: center;
  text-decoration: none;
  color: var(--tertiary-color);
  background: var(--primary-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1.625rem;
  font-size: 1.3em;
  font-family: var(--header-font);
  transition: 0.3s;
}

#projects .project-content .projects .project button:hover {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

#projects .project-content .projects .project .categories {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  gap: 0.5rem;
}

#projects .project-content .projects .project .categories span {
  font-size: 0.9em;
  font-family: var(--body-font);
  font-weight: 200;
  margin-top: -10px;
  text-align: center;
  color: var(--primary-color);
  padding: 0.5rem 0;
  background-color: var(--tertiary-color);
  border-radius: 1.625rem;
  font-style: italic;
}

.projectmodal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.projectmodal .modal-content {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin: auto; */
  padding: 20px;
  width: 80%;
  border-radius: 4rem;
}

.projectmodal .modal-content>button {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0 0 1rem 0;
  width: 4vw;
  height: 4vw;
}

.projectmodal .modal-content>button:hover,
.projectmodal .modal-content>button:focus {
  text-decoration: none;
  cursor: pointer;
  background: #ffffff6b;
}

.projectmodal .modal-content .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 0;
  gap: 6rem;
  margin: 2rem 0;
}

.projectmodal .modal-content .row .col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 2rem;
  padding: 1rem;
}

.projectmodal .modal-content .row .col.spaced {
  justify-content: space-evenly;
  align-items: center;
}

.projectmodal .modal-content .row .col h3 {
  font-size: 2.5em;
  font-family: var(--header-font);
  font-weight: 500;
  margin: 0 0 3rem 0;
  width: 100%;
  text-align: center;
  color: var(--tertiary-color);
  padding: 0.5rem 0;
  text-transform: uppercase;
}

.projectmodal .modal-content .row .col article {
  font-size: 1.2em;
  font-family: var(--body-font);
  font-weight: 200;
  width: 100%;
  margin: 0 0 2rem 0;
  color: var(--tertiary-color);
  overflow: auto;
  height: 100%;
}

.projectmodal .modal-content .row .col .categories {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  gap: 0.5rem;
}

.projectmodal .modal-content .row .col .categories span {
  font-size: 0.9em;
  font-family: var(--body-font);
  font-weight: 200;
  margin-top: -10px;
  text-align: center;
  color: var(--tertiary-color);
  padding: 0.5rem 0;
  background-color: var(--primary-color);
  border-radius: 1.625rem;
  font-style: italic;
}

.projectmodal .modal-content .row .col .links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  gap: 0.5rem;
}

.projectmodal .modal-content .row .col .links a {
  text-align: center;
  text-decoration: none;
  color: var(--tertiary-color);
  background: var(--primary-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1.625rem;
  font-size: 1.3em;
  font-family: var(--header-font);
  transition: 0.3s;
}

.projectmodal .modal-content .row .col .links a:hover {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

.projectmodal .modal-content .row .col img {
  width: 80%;
  border-radius: 1.625rem;
  object-fit: cover;
  margin: 0 auto;
}

.projectmodal .modal-content .row .col .info p {
  font-size: 1.2em;
  font-family: var(--body-font);
  font-weight: 200;
  width: 100%;
  margin: 0 0 2rem 0;
  color: var(--tertiary-color);
}

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: #fff;
  background: var(--primary-color);
}

#contact>h1 {
  font-size: 3em;
  font-family: var(--header-font);
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

#contact .contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 2rem 0;
}

#contact .contact-content .contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80%;
  padding: 0;
  gap: 2rem;
  margin: 2rem 0;
}

/* contact item contains list of p->i p->a */

#contact .contact-content .contact-item p {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

#contact .contact-content .contact-item p i {
  font-size: 1.5em;
  font-family: var(--header-font);
  font-weight: 400;
  color: var(--tertiary-color);
  text-decoration: underline;
}

#contact .contact-content .contact-item p a {
  font-size: 1.5em;
  font-family: var(--header-font);
  font-weight: 400;
  color: var(--tertiary-color);
  text-decoration: underline;
}